*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#home{
    background-image: url("/static/images/hero4.png");
    height: 90vh;
    width: 90%;
    background-size: cover;
    background-position: top 25% right 0%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    
}
nav{
    background-color:rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 3px 3px 4px rgb(0,0,0,0.1);
    
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
nav li{
    height: 50px;
    
}
nav a{
    height: 100%;
    text-decoration: none;
    color: black;
    padding: 0 28px;
    display: flex;
    align-items: center;
}
nav a:hover
{
    background-color: rgb(111, 87, 87);
    border-radius: 20px;
    color: white;
}

nav li:first-child{
    margin-right: auto;
    display:flex;
    align-items: center;
    column-gap: .5rem;
    font-family:'Libre Baskerville';
    font-weight: 700;
    color: var(--title-color);

}

#home button{
    background-image: url(/static/images/button.png);
    color: #116e57;
    background-color: transparent;
    border: 0;
    padding: 14px 80px 14px 65px;
}
#home h1{
    font-size: 50px;
    line-height: 64px;
    color: #116e57;
}
#home h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
#home h4{
    padding-bottom:  15px;

}
#home p{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 89;
}
.home .content{
    margin: 30px;
    
}
.container{
    max-width: 40px;
    max-height: 40px;
}
.container img {
    max-width: 90%;
    height: 100%;
    display: block;
 
}

.home .home-slider .wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.slider{
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
}
.slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
