<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/homestyle.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
        <title>Event Management</title>

    </head>
    
    <body>

        <nav>
            <ul>
                <li><a href="{{ url_for('base') }}"><img src="/static/images/icon-svg.png" style="height: 120px; width: 90px;";>Imperia</a></li>
               <li> <a class="active" herf="{{ url_for('base') }}">Home</a></li>
               <li> <a href="{{ url_for('about') }}">About</a></li>
               <li> <a href="{{ url_for('index') }}">Signout</a></li>
               <li> <a href="{{url_for('profile')}}">
                <div class="container">
                <img src="/static/images/profile_icon.png" alt="Your Image">
                    </div>
                </a></li>
            </ul>
        </nav>
        <section id="home">
                <h2>Event with us</h2>
                <h1>Learn with us,Teach with us</h1>
                <p>Eventy is here to provide for the entire event experience.<br>
                   Whether it's finding speakers, managing your user group or organizing a conference, we've got you covered.</p>

                <button>Check</button>
        </section>
        <section class="home" id="slide">
            <div class="home-slider">
                <div class="wrapper">
                    <div class="slider">
                        <a href="{{url_for('event')}}"><img src="/static/images/img2.jpg" alt="" ></a>
                    </div>
                    <div class="slider">
                        <a href="{{url_for('event1')}}"><img src="/static/images/img5.jpg" alt="" ></a>
                    </div>
                    <div class="slider">
                        <a href="{{url_for('profile')}}"><img src="/static/images/hero.jpg" alt="" ></a>
                    </div>
                    <div class="slider">
                        <a href="{{url_for('profile')}}"><img src="/static/images/hero.jpg" alt="" ></a>
                    </div>
                    <div class="slider">
                        <a href="{{url_for('profile')}}"><img src="/static/images/hero.jpg" alt="" /></a>
                    </div>
                </div>
            </div>
        </section>
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script src="/app.js"></script>
    </body>
    
</html>