<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>Sign up</title>
</head>
<body>
    <div class="wrapper">
        <form action="">
          <h1 id="font">Sign UP</h1>
          <div class="infield">
            <input type="text" placeholder="Username" required>
            <i class='bx bxs-user'></i>
          </div>
          <div class="infield">
            <input type="email" placeholder="Email" name="email"/>
            <i class='bx bx-envelope'></i>
      
          </div>
          <div class="infield">
            <input type="text" placeholder="Phone Number" name="phone"/>
            <i class='bx bx-phone'></i>

          </div>
            <div class="infield">
              <input type="password" placeholder="Password" required>
              <i class='bx bxs-lock-alt' ></i>
            </div>
            <div class="infield">
              <input type="password" placeholder="Confirm Password" required>
              <i class='bx bxs-lock-alt' ></i>
            </div>
            <div class="signin-link">
              <p>Already have an account? <a href="{{ url_for('index')}}">Login</a></p>
            </div>

            <button type="submit" class="btn">Sign Up</button>
          </div>
        </form>
      </div>
            
</body>
</html>